= nested_form_for @organization, url: organization_sub_organizations_path(@organization), method: 'POST' do |f|
  = f.fields_for :sub_organizations do |sub_organization|
    = sub_organization.text_field :domain_name
    = sub_organization.link_to_remove "Remove this task"
  %p= f.link_to_add "Add a Sub Organization", :sub_organizations

  = f.submit "Save", class: 'btn btn-defaul'